@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "mixin";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.activite {
  &-header {
    text-align: center;
    padding: 30px 0;
    img {
      @include mobile {
        display: none;
      }
    }
    h1 {
      padding: 30px;
      @include mobile {
        padding-top: 50px;
        font-size: 22px;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      padding: 0 50px;
      float: right;

      gap: 10px;
      @include tablet {
        overflow-x: auto;
        width: 100%;
        height: 78px;
        padding-left: 0;
        div:nth-child(1) {
          display: none;
        }
      }
      @include mobile {
        height: 78px;
        overflow-x: auto;
        width: 100%;
        float: left;
        padding-left: 0;
      }
      ul {
        display: flex;
        gap: 10px;
        text-align: center;
        justify-content: center;
        @include tablet {
          margin-left: 30px;
        }
        li {
          white-space: nowrap;
          list-style-type: none;
          &:nth-child(1) a {
            color: $color-theme;
            font-weight: 700;
            padding-bottom: 20px;
            border-bottom: 3px solid $color-theme;
          }
          a {
            text-decoration: none;
            width: max-content;
            color: black;
          }
        }
      }
      .input {
        width: fit-content;
        border: 2px solid rgba(128, 128, 128, 0.197);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
        input {
          border: none;
          &::placeholder {
            color: gray;
          }
        }
      }
    }
  }

  &-submenu {
    background-color: #f5f5f5;
    display: flex;
    padding: 0px 50px;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      padding: 10px 20px;
    }
    @include tablet {
      padding: 10px 32px;
    }
    &-filter {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      z-index: 51;
      padding-bottom: 10px;
      &:hover .filters {
        display: flex;
      }
      i,
      > span {
        padding-top: 10px;
      }
      i:hover,
      > span:hover {
        color: $color-theme;
      }
      .filters {
        display: none;
        position: absolute;
        width: max-content;
        flex-direction: column;
        box-shadow: 2px 2px 9px rgba(178, 172, 172, 0.438);
        padding: 20px 35px;
        top: 44px;
        z-index: 51;
        background-color: white;
        > span {
          font-weight: 700;
          margin-top: 13px;
        }
        hr {
          opacity: 0.2;
        }
        &-check {
          display: flex;
          gap: 10px;
          margin: 10px 0;
          input {
            &:checked {
              accent-color: $color-theme;
            }
          }
        }
      }
    }
    &-date {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  /* CARDS */
  &-card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &s {
      display: flex;
      flex: 1;
      border: 1px solid rgba(128, 128, 128, 0.178);
      gap: 15px;

      @include tablet {
        min-width: 330px;
        max-width: 400px;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        flex-wrap: wrap;
      }
      @include mobile {
        min-width: 100%;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        flex-wrap: wrap;
      }
      &-img {
        width: 40%;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include tablet {
          width: 100%;
        }
        @include mobile {
          width: 100%;
        }

        &-date {
          position: absolute;
          background-color: black;
          z-index: -1;
          bottom: 0;
          top: 0;
          width: 50%;
          display: flex;
          flex-direction: column;
          text-align: center;

          @include tablet {
            top: 0px;
            z-index: 11;
            width: 100%;
            height: 200px;
            background-color: black;
            flex-direction: row;
          }
          @include mobile {
            top: 0px;
            z-index: 11;
            width: 100%;
            height: 200px;
            background-color: black;
            flex-direction: row;
          }

          span:first-child {
            @include tablet {
              position: absolute;
              color: white;
              font-size: 23px;
              left: 57px;
              font-weight: 700;
              top: 15px;
            }
            @include mobile {
              position: absolute;
              color: white;
              font-size: 23px;
              left: 57px;
              font-weight: 700;
              top: 15px;
            }
          }
          span:nth-child(2) {
            @include tablet {
              position: absolute;
              color: white;
              font-size: 19px;
              top: 18px;
              left: 90px;
            }
            @include mobile {
              position: absolute;
              color: white;
              font-size: 19px;
              top: 18px;
              left: 90px;
            }
          }
          span:nth-child(3) {
            @include tablet {
              position: absolute;
              top: 21px;
              color: gray;
              left: 130px;
            }
            @include mobile {
              position: absolute;
              top: 21px;
              color: gray;
              left: 130px;
            }
          }
          span:nth-child(4) {
            @include tablet {
              position: absolute;
              top: 21px;
              color: gray;
              left: 170px;
            }
            @include mobile {
              position: absolute;
              top: 21px;
              color: gray;
              left: 170px;
            }
          }
          span {
            margin-left: 30px;
            color: #ff0d87;
            width: 50px;
          }
        }
        img {
          position: absolute;
          right: 0;
          top: 10%;
          width: 70%;
          height: 175px;
          object-fit: cover;
          @include tablet {
            width: 90%;
            top: 60px;
            left: 16px;
            z-index: 55;
          }
          @include mobile {
            width: 90%;
            top: 60px;
            left: 20px;
            z-index: 55;
          }
        }

        .activite-type {
          background-color: green;
          z-index: 21;
          font-weight: 700;
          color: white;
          height: 24px;
          text-align: center;
          display: flex;
          align-items: center;
          padding: 5px 10px;
          position: absolute;
          left: 25%;
          top: 15%;
          @include tablet {
            left: -25px;
            top: 20px;
          }
          @include mobile {
            left: -25px;
            top: 20px;
          }
        }
      }
      &-content {
        width: 60%;
        display: flex;
        @include tablet {
          width: 100%;
          position: relative;
        }
        @include mobile {
          width: 100%;
          position: relative;
        }
        &-left {
          width: 80%;
          padding: 30px 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          @include tablet {
            position: absolute;
            width: 95%;
            left: 5px;
            top: -280px;
            padding-bottom: 0;
          }
          @include mobile {
            position: absolute;
            width: 95%;
            left: 5px;
            top: -280px;
            padding-bottom: 0;
          }

          span {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            color: #9c9c9c;
          }
          p {
            padding-top: 20px;
            --max-lines: 3;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: var(--max-lines);
            position: relative;
            span {
              position: absolute;
              bottom: 0;
              right: 10px;
              padding-left: 5px;
              z-index: 1;
              background-color: white;
              font-size: 16px;

              &:hover {
                cursor: pointer;
                color: $color-theme;
              }
            }
          }
        }
        &-right {
          min-width: 145px;
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          @include tablet {
            position: absolute;
            width: 100%;
            left: 25px;
            bottom: 20px;
            flex-direction: row;
          }
          @include mobile {
            position: absolute;
            width: 100%;
            left: 25px;
            bottom: 20px;
            flex-direction: row;
          }
          button {
            width: 100%;
            background-color: $color-theme;
            border: none;
            color: white;
            padding: 8px 0;
          }
          p {
            @include tablet {
              margin-left: 20px;
              padding-bottom: 10px;
            }
            @include mobile {
              margin-left: 20px;
              padding-bottom: 10px;
            }
            width: 100%;
            font-size: 16px;
            margin-top: 10px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: start;
            span {
              width: max-content;
            }
          }
        }
      }
    }
  }
}
